<!DOCTYPE html>
<html>
  <head>
    <title>td-ls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style>
			body {
				max-width: 1024px;	
				margin: auto;
				font-family: 'Open Sans', sans-serif;
			}
			.header {
				padding-left: 1rem;	
			}
			.container {
				padding-left: 1rem;	
			}
			.code-block {
				display: inline-block;
				margin: 0.5rem 0;
				padding: 0 1rem;	
				background: rgb(250,250,250);	
			}
		</style>
  </head>
  <body>
		<div class='header'>
			<a href='/' style='text-decoration:none; color: black;'><b style='font-size: 1.5rem;'>td-ls;</b></a>
			Simple, Lightweight, <u>Command-line Todo-list & Tech Blogging</u> Service,
			<a href='https://github.com/songjein/tdls' target='_blank'>Contribution(github)</a>
		</div>


		<div style='height: 20px'></div>

		<div class='container'>
			<div>
				<b>setting</b><br>
				<div class='code-block'>
					<code>
						git clone https://github.com/songjein/tdls<br>
						cd tdls<br>
						sudo npm i -g<br>
					</code>
				</div>
			</div>
			<div>
				<b>register</b><br>
				<div class='code-block'>
					<code>
						td keygen <br>
						td setinfo
					</code>
				</div>
			</div>
			<div>
				<b>todo-list</b><br>
				<div class='code-block'>
					<code> 
						td add -m 'schedule or memo...' <br>
						td ls <br>
						td fin -i index_of_todo_item <br>
						td lsf <br>
						td rm -i index_of_todo_item <br>
						td co -1 first_index -2 second_index<br>
					</code>
				</div>
			</div>

			<div>
				<b>blogging</b><br>
				<div class='code-block'>
					<code> 
						td log -f 'markdown file path(absolute path)' </br>
					</code>
				</div>
			</div>

			<div>
				<b style='color:orange'>In development...</b><br>
				<div class='code-block'>
					<code> 
						- 현재 로컬에서만 가능한 td push & pull 기능 (tdls.dev에 기록&백업)<br>
						- 유저가 td add 시 -s(secret) 옵션 명시할 경우 클라이언트 단에서 암/복호화</br>
						- 유저페이지(todo-list, tech-blog)<br>
						- 유저의 td fin 명령에 대한 캘린더(빨래판) 그리기 <br>
						- team-todo-list를 가능케 하는 channel 생성 기능 <br>
						- todo-item 생성시 태그(대분류; ex.캐글, 수학공부) 포함, 조회시 그루핑 기능 <br>
						- graph-based blog, 블로그 글끼리 링크 가능, 트리를 이용한 상호 관계 시각화 <br>
					</code>
				</div>
			</div>


			<div style='height:20px;'></div>

			<div>
				<b>User List</b> <br>
				<div class='code-block'>
					<code>
						<% for (let i = 0 ; i < users.length; i++) { %>
							- <b><%= users[i].nickName %></b> 
								(
									<%= users[i].email %>, 
									<a href="<%= users[i].githubUrl %>" target="_blank">github</a>, 
									<a href='#' onclick="alert('준비중 입니다. (3월 초 개발 완료);')">todo-list</a>
									<a href='#' onclick="alert('준비중 입니다. (3월 초 개발 완료);')">tech-blog</a>
								) <br>
						<% } %>
					</code>
				</div>
			</div>

			<div style='height:20px;'></div>

			<div>
				<b>Latest Articles</b> <a href='/logs'>more...</a><br>
				<div class='code-block'>
					<code>
						<% for (let i = 0 ; i < (logs.length > 5 ? 5 : logs.length); i++) { %>
							- <b><%= logs[i].title %></b> by <%= logs[i].User.nickName %>, (<%= logs[i].createdAt.toUTCString().split('GMT')[0].split(',')[1].trim() %>) <a href='/logs/<%= logs[i].id %>'>show</a><br>
						<% } %>
					</code>
				</div>
			</div>

		</div>
		<!-- container -->
  </body>
</html>
