<!DOCTYPE html>
<html>
  <head>
    <title>td-ls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style>
			body {
				max-width: 1024px;	
				margin: auto;
				font-family: 'Open Sans', sans-serif;
			}
			.header {
				padding-left: 1rem;	
			}
			.container {
				padding-left: 1rem;	
			}
			.code-block {
				display: inline-block;
				width: 96%;
				margin: 1% 0;
				padding: 0 1%;	
			}
			.md-html code {
				display: block;
				font-weight: bold;
				background: rgba(250,250,250, 0.9);
				width: 98%;
				padding: 1%;
				margin-bottom: 1.5rem;
				overflow-x: auto;
			}
			.title {
				font-size: 1.5rem;	
			}
		</style>
  </head>
  <body>
		<%- include nav.ejs %>

		<div style='height: 20px'></div>

		<div class='container'>
			<a href='/logs'>Show all articles</a>

			<div style='height: 20px'></div>

			<div class='code-block'>
				<b class='title'><%= log.title %></b> <br>
				<span>By { 
					<b>
						<a class='ggreen' href='/users/blog/<%= log.User.nickName %>'><%= log.User.nickName %></a>
					</b> }
				</span> , 
				<span>
					written at { 
						<b class='gorange'>
							<%= log.createdAt.toUTCString().split('GMT')[0].split(',')[1].trim() %>
						</b> 
					}
				</span><br>
				<div style='height: 1rem;'></div>
				<div>
					Sources:
					<% for (let i = 0 ; i < sources.length ; i++) { %>
						<a href='/logs/<%= sources[i].id %>'><%= sources[i].title %></a> 
						<% if (i < sources.length - 1) { %>
						,
						<% } %>
					<% } %>
					<% if (sources.length == 0) { %>
						<span class='gred'>[ Source Links Empty ]</span>
					<% } %>
				</div>
				<div>
					Targets:
					<% for (let i = 0 ; i < targets.length ; i++) { %>
						<a href='/logs/<%= targets[i].id %>'><%= targets[i].title %></a>
						<% if (i < targets.length - 1) { %>
						,
						<% } %>
					<% } %>
					<% if (targets.length == 0) { %>
						<span class='gred'>[ Target Links Empty ]</span>
					<% } %>
				<div class='md-html'>
					<%- log.htmlBody %>
				</div>
			</div>

		</div>
		<!-- container -->
  </body>
</html>
