<!DOCTYPE html>
<html>
  <head>
    <title>td-ls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style>
			body {
				max-width: 1024px;	
				margin: auto;
				font-family: 'Open Sans', sans-serif;
			}
			.header {
				padding-left: 1rem;	
			}
			.container {
				padding-left: 1rem;	
			}
			.code-block {
				display: inline-block;
				width: 96%;
				margin: 1% 0;
				padding: 0 1%;	
				background: rgba(250,250,250, 0.5);	
			}
		</style>
  </head>
  <body>
		<%- include nav.ejs %>

		<div style='height: 20px'></div>

		<div class='container'>
			<div>
				<b>User List</b> <br> 
				<div class='code-block'>
					<code>
						<% for (let i = 0 ; i < users.length; i++) { %>
							- <b><%= users[i].nickName %></b> 
								{	
									<%= users[i].email %>, 
									<a href='/users/<%= users[i].nickName %>'>goto(<b><%= users[i].nickName %></b>'s blog)</a>
								} <br>
						<% } %>
					</code>
				</div>
			</div>
		</div>
		<!-- container -->
  </body>
</html>
