<!DOCTYPE html>
<html>
  <head>
    <title>td-ls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style>
			body {
				max-width: 1024px;	
				margin: auto;
				font-family: 'Open Sans', sans-serif;
			}
			.header {
				padding-left: 1rem;	
			}
			.container {
				padding-left: 1rem;	
			}
			.code-block {
				display: inline-block;
				width: 96%;
				margin: 1% 0;
				padding: 0 1%;	
				background: rgba(250,250,250, 0.5);	
			}
			.gblue {
				color: #4285F4;
			}
			.ggreen {
				color: #34A853;	
			}
			.gorange {
				color: #FBBC05;	
			}
			.gred {
				color: #EA4335;	
			}
		</style>
  </head>
  <body>
		<%- include nav.ejs %>

		<div style='height: 20px'></div>

		<div class='container'>
			<div>
				<b>{ <span class='ggreen'><%= user.nickName %></span> }'s Profile</b> <br> 
				<div class='code-block'>
					<code>
					{<br>
						&nbsp;&nbsp;nickName: <b><%= user.nickName %></b>,  <br>
						&nbsp;&nbsp;email: <u><%= user.email %></u>, <br>
						&nbsp;&nbsp;github: <a href='<%= user.githubUrl %>'><%= user.githubUrl %></a> <br>
						&nbsp;&nbsp;memo: <span class='ggreen'><%= user.memo %></span> <br>
					}
					</code>
				</div>
			</div>
			<div>
				<b>Todo-List</b> <br> 
				<div class='code-block'>
					<code>
						<% if (user.todoItems) { %>
							<% const todoItems = JSON.parse(user.todoItems) %>
							<% for (let i = 0 ; i < todoItems.length ; i++) { %>
								<% if (i < 3) { %>
									<span class='gred'><%= i %></span>. <span class='gred'><%= todoItems[i].todo %></span><br>
								<% } else { %>
									<span class=''><%= i %></span>. <span><%= todoItems[i].todo %></span><br>
								<% } %>
							<% } %>
						<% } else { %>
							todo-list is <b class='gred'>empty</b>; <br> 
							fill this section by using { <br>
							&nbsp;&nbsp;<b class='gblue'>td add -m 'message'; td push </b><br>
							} <br>
						<% } %>
					</code>
				</div>
			</div>
			<div>
				<b>Contribution</b> <br> 
				<div class='code-block'>
					<code>
						<% if (user.Logs.length > 0) { %>
							<% const logs = user.Logs %>
							<% for (let i = 0 ; i < logs.length; i++) { %>
								- { <b><%= logs[i].title %></b> } written at { <b><%= logs[i].createdAt.toUTCString().split('GMT')[0].split(',')[1].trim() %></b> } <a href='/logs/<%= logs[i].id %>'>show(#<%= logs[i].id %>)</a><br>
							<% } %>
						<% } else { %>
							no contribution yet :(...<br>
							share <b class='gred'>valuable knowledge</b> by <b>just</b> using { <br>
							&nbsp;&nbsp;<b class='gblue'>td log -f 'markdown file'</b><br>
							} <br>
						<% } %>
					</code>
				</div>
			</div>
			<div>
				<b>Achievement</b> <br> 
				<div class='code-block'>
					calendar-place-holder
				</div>
			</div>
		</div>
		<!-- container -->
  </body>
</html>
