<!DOCTYPE html>
<html>
  <head>
    <title>td-ls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<script src="/javascripts/moment.min.js"></script>
		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				  crossorigin="anonymous"></script>

		<style>
			.header {
				padding-left: 1rem;	
			}
			.container {
				padding-left: 1rem;	
			}
			.code-block {
				display: inline-block;
				width: 96%;
				margin: 1% 0;
				padding: 0 1%;	
				background: rgba(250,250,250, 0.5);	
			}
			#text-calendar span {
				cursor: pointer;	
				display: inline-block;
				width: 12px;
				height: 12px;
				border-left: 1px solid white;
				border-right: 1px solid white;
			}
			#text-calendar span:hover {
				background: rgba(234,67,53,0.7) !important;
			}
		</style>
  </head>
  <body>
		<%- include nav.ejs %>

		<div style='height: 20px'></div>

		<div class='container'>
			<div>
				<b>{ <span class='ggreen'><%= user.nickName %></span> }'s Profile</b> <br> 
				<div class='code-block'>
					<code>
					{<br>
						&nbsp;&nbsp;nickName: <b><%= user.nickName %></b>,  <br>
						&nbsp;&nbsp;email: <u><%= user.email %></u>, <br>
						&nbsp;&nbsp;github: <a href='<%= user.githubUrl %>' target='_blank'><%= user.githubUrl %></a> <br>
						&nbsp;&nbsp;memo: <span class='ggreen'><%= user.memo %></span> <br>
					}
					</code>
				</div>
			</div>
			<div>
				<b>Todo-List</b> <br> 
				<div class='code-block'>
					<code>
						<% if (user.todoItems) { %>
							<% const todoItems = JSON.parse(user.todoItems) %>
							<% for (let i = 0 ; i < todoItems.length ; i++) { %>
								<% if (i < 3) { %>
									<span class='gred'><%= i %></span>. <span class='gred'><%= todoItems[i].todo %></span>,
								<% } else { %>
									<span class=''><%= i %></span>. <span><%= todoItems[i].todo %></span>,
								<% } %> 
								<span class='gray'><%= moment(todoItems[i].createdAt).fromNow() %></span> <br>
							<% } %>
						<% } else { %>
							todo-list is <b class='gred'>empty</b>; <br> 
							fill this section by using { <br>
							&nbsp;&nbsp;<b class='gblue'>td add -m 'message'; td push </b><br>
							} <br>
						<% } %>
					</code>
				</div>
			</div>
			<div>
				<b>Contribution</b> <br> 
				<div class='code-block'>
					<code>
						<% if (user.Logs.length > 0) { %>
							<% const logs = user.Logs %>
							<% for (let i = 0 ; i < logs.length; i++) { %>
								- <b><%= logs[i].title %></b>, <span class='gray'><%= moment(logs[i].createdAt).fromNow() %></span> ; <a href='/logs/<%= logs[i].id %>'>show(<span>#<%= logs[i].id %></span>)</a><br>
							<% } %>
						<% } else { %>
							no contribution yet :(...<br>
							share <b class='gred'>valuable knowledge</b> by <b>just</b> using { <br>
							&nbsp;&nbsp;<b class='gblue'>td log -f 'markdown file'</b><br>
							} <br>
						<% } %>
					</code>
				</div>
			</div>
			<div>
				<b>Achievement</b> <br> 
				<div class='code-block'>
					<code>
						<div style='height:5px;'></div>
						<div id='text-calendar'></div>
						<div style='height:20px;'></div>
					</code>
				</div>
				<script>
					$(function() {
						var chartData = [{
							date: new Date(),
							count: 3 
						}];

						function getRandomIntInclusive(min, max) {
						  return Math.floor(Math.random() * (max - min + 1)) + min;
						}

						function clickDate(d) {
							alert(d);
						}

						function textCalendar () {
							var now = new Date(); //moment().endOf('day').toDate();
							var yearAgo = moment().startOf('day').subtract(1, 'year').toDate();
							var dateArrayFor1Year = [];
							var s = yearAgo, e = now;
							while(s < e) {
									dateArrayFor1Year.push(s);
									s = new Date(s.setDate(
											s.getDate() + 1
									))
							}

							var dayMatrix = [[],[],[],[],[],[],[]];

							var firstDate = dateArrayFor1Year[0];
							// 빈칸 채우기
							if (firstDate.getDay() > 0) {
								for (var i = 0 ; i < firstDate.getDay(); i ++) {
									var tmp = new Date(firstDate);
									tmp = new Date(tmp.setDate(tmp.getDate() - (tmp.getDay() - i)));
									dayMatrix[i].push({ date: tmp, count: 0 });
								}
							}
							var MAX_COUNT = 5;
							for (var i = 0 ; i < dateArrayFor1Year.length ; i ++) {
								var currentDate = dateArrayFor1Year[i];							
								dayMatrix[currentDate.getDay()].push({ date: currentDate, count: getRandomIntInclusive(0,MAX_COUNT) });
							}
							console.log('365일 date 객체:', dayMatrix); // TODO (node 서버에서 계산 가능할 것 같은데 ?)
							var finalHTML = "";
							for (var r = 0 ; r < 7 ; r ++) {
								for (var c = 0 ; c < dayMatrix[r].length ; c ++) {
									var cnt = dayMatrix[r][c].count;
									var colorStrength = (dayMatrix[r][c].count / MAX_COUNT);
									if (dayMatrix[r][c].count == 0)
										finalHTML += "<span style='background:rgba(230,230,230,0.2);' data-date='"+ dayMatrix[r][c].date +"'></span>";
									else 
										finalHTML += "<span style='background:rgba(170,170,170," + colorStrength + ");' data-date='"+ dayMatrix[r][c].date +"'></span>";	
								}	
								finalHTML += "<br>";
							}
							$("#text-calendar").html(finalHTML);

						};
						textCalendar();
					});
				</script>
			</div>
		</div>
		<!-- container -->
  </body>
</html>
