<!DOCTYPE html>
<html>
  <head>
    <title>td-ls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style>
			body {
				max-width: 1024px;	
				margin: auto;
				font-family: 'Open Sans', sans-serif;
			}
			.header {
				padding-left: 1rem;	
			}
			.container {
				padding-left: 1rem;	
			}
			.code-block {
				display: inline-block;
				width: 96%;
				margin: 1% 0;
				padding: 0 1%;	
				background: rgba(250,250,250, 0.5);	
			}
		</style>
  </head>
  <body>
		<div class='header'>
			<a href='/' style='text-decoration:none; color: black;'><b style='font-size: 1.5rem;'>td-ls;</b></a>
			Simple, Lightweight, <u>Command-line Todo-list & Tech Blogging</u> Service,
			<a href='https://github.com/songjein/tdls' target='_blank'>Contribution(github)</a>
		</div>


		<div style='height: 20px'></div>

		<div class='container'>
			<div>
				<b><%= user.nickName %>'s Profile</b> <br> 
				<div class='code-block'>
					<code>
					{ nickName: <b><%= user.nickName %></b>, 
						email: <u><%= user.email %></u>, 
						github: <a href='<%= user.githubUrl %>'><%= user.githubUrl %></a> }
					</code>
				</div>
			</div>
			<div>
				<b>Todo-List</b> <br> 
				<div class='code-block'>
					backup-todo-list-place-holder
				</div>
			</div>
			<div>
				<b>Contribution</b> <br> 
				<div class='code-block'>
					<code>
						<% const logs = user.Logs %>
						<% for (let i = 0 ; i < logs.length; i++) { %>
							- <b><%= logs[i].title %></b> (<%= logs[i].createdAt.toUTCString().split('GMT')[0].split(',')[1].trim() %>) <a href='/logs/<%= logs[i].id %>'>Show</a><br>
						<% } %>
					</code>
				</div>
			</div>
			<div>
				<b>Achievement</b> <br> 
				<div class='code-block'>
					calendar-place-holder
				</div>
			</div>
		</div>
		<!-- container -->
  </body>
</html>
